/* fonte da copa utilizada nas partes importantes */
@font-face {
  font-family: 'Qatar-Font';
  src: url('./Qatar2022/Qatar2022Arabic-Bold.ttf') format('truetype')
}

.qatar-font {
  font-family: "Qatar-Font";
}

/* apenas para desativar o que eu já fiz */
.debug {
  display: none;
}

/* para o botão ficar como clicável */
.link {
  text-decoration: none;
}

.link:hover {
  cursor: pointer;
}

/* deixa em forma de linha */
.row {
  flex-direction: row;
}

/* deixa em forma de coluna */
.column {
  flex-direction: column;
}

/* cores da copa */
:root {
  --wine: #260112;
  --wineLight: #40031F;
  --pinkDark: #8C0D48;
  --pink: #A61257;
  --white: #F2F2F2
}

/* gradiente utilizado no fundo */
.background {
  background: rgb(163, 15, 56);
  background: linear-gradient(135deg, rgba(163, 15, 56, 1) 0%, rgba(30, 1, 10, 1) 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}